<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link href="./assets/styles.css" rel="stylesheet" />
</head>

<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <p class="navbar-item">
                Tech Blog
            </p>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    Home
                </a>

                <a href="/api/blogs/2" class="navbar-item">
                    Dashboard
                </a>

                <!-- <a class="navbar-item">
                Logout
            </a> -->
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {{#if loggedIn}}
                    <a id="logout-btn" class="button is-light">
                        Logout
                    </a>
                    {{else}}
                    <a href="/users/signup" class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a href="/users/login" class="button is-light">
                        Log in
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
        </div>
    </nav>
    <div>
        {{{body}}}
    </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
{{!-- set footer to bottom of page --}}
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>TechBlog</strong> by <a href="https://github.com/l-lavelle">Lauren Lavelle</a>. The source code is
            licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
    </div>
</footer>

</html>