<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/CSS/reset.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="/CSS/style.css" />
</head>

<header>
 <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
   <p class="navbar-item logo">
      <img src="/logo.png" width="125" height="150">
    </p>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
          Home
      </a>

      {{#if loggedIn}}
        <a href="/api/blogs/{{userId}}" class="navbar-item">
            Dashboard
        </a>
      {{else}}
        <a href="/users/login" class="navbar-item">
            Dashboard
        </a>
      {{/if}}
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if loggedIn}}
            <a id="logout-btn" class="button is-light">
                <strong>Logout</strong>
            </a>
          {{else}}
            <a href="/users/signup" class="button is-light">
                <strong>Sign up</strong>
            </a>
            <a href="/users/login" class="button is-light">
                <strong>Log in</strong>
            </a>
          {{/if}}
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<body>
    <br>
    <div>
        {{{body}}}
    </div>

    <script src="/js/navbar.js"></script>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>


</html>