<div class="container mobile-blog">
    <h1 class="title">Login</h1>
    <div class="field">
        <label class="label">Username</label>
        <div class="control">
            <input id="username-login" class="input" type="text">
        </div>

        <div class="field mt-3">
            <label class="label">Password</label>
            <div class="control">
                <input id="password-login" class="input " type="password">
            </div>

<p class="mt-3">If you dont have an account <a href="/users/signup">signup!</a></p>

<div id="submit-btn" class="columns is-centered mt-3">
  <div  class="column has-text-centered is-2">
    <a class="button is-link">Submit</a>
  </div>
  </div>
</div>
        <script src="/js/login.js"></script>