
    <div class="content container is-mobile blog-Options">
        <h1 class="title">Update or Delete Post</h1>
        <div class="field">
            <label class="label">Post Name</label>
            <div class="control">
                <input id="blog_title" class="input" type="text" placeholder="Text input">
            </div>
        </div>
        <div class="field">
            <label class="label">Post Text</label>
            <div class="control">
                <input id="blog_post" class="input" type="text" placeholder="Text input">
            </div>
        </div>
        <button id="update-btn" class="button is-link ">Update Post</button>
        <br>
        <br>
        <button id="delete-btn" class="button is-link">Delete Post</button>
</div>
<script src="/js/options.js"></script>