/* Homepage CSS*/
.home-blog-post {
  max-height: 100px;
  max-width: auto;
  white-space: normal;
  display: block;
  overflow: hidden;
}

/* Dashboard CSS */
.dash-blogText {
  max-height: 100px;
  max-width: auto;
  white-space: normal;
  display: block;
  overflow: hidden;
}
.dash-title:hover,
.dash-title:active {
  font-size: 150%;
  font-weight: bold;
}

/* Center Titles */
.title {
  text-align: center;
}

/* Error Messages */
.error-SignUp {
  text-align: center;
}
.error-login {
  text-align: center;
}
.error-message {
  text-align: center;
}

/* Screen Responsiveness */
@media screen and (max-width: 1024px) {
  .mobile-blog {
    margin-left: 5%;
    margin-right: 5%;
  }
}
